astroid
Click
ecdsa
Flask
Flask-SQLAlchemy
future
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
pycryptodome==3.3.1 # to avoid dependancy mismatch
pylint
python-jose-cryptodome
six
typed-ast
Werkzeug
wrapt
Flask-Cors

# installed using ' pip install --upgrade -r requirements.txt ' that fetches the latest version
